{% load static %}
<!--  -->
{% load posts_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/posts.css' %}" />
  </head>
  <body>
    <div id="content">
      {% block content %} {% endblock %}
    </div>
    <div id="sidebar">
      <h2>Blog</h2>
      <h3>Recent posts</h3>
      <p>{% show_latest_posts 4 %}</p>
      <h3>Popular posts</h3>
      <p>
        {% show_most_commented_posts as popular_posts %}
        
       <ul>
        {% for post in popular_posts %}
          <li>
            <a href="{{post.get_absolute_url}}">
              {{post.title}}
            </a>
          </li>
        {% endfor %}
        </ul>
      </p>
    </div>
  </body>
</html>
